.mdbook-content ol.tasks {
  counter-reset: tasks-ol;
  list-style: none;
  padding-left: 0;
}

.mdbook-content ol.tasks > li {
  counter-increment: tasks-ol;
  margin: 1em 0;
}

.mdbook-content ol.tasks> li::before {
  content: "Задача " counter(tasks-ol) ". ";
  font-weight: bold;
}